# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
media/

# Environment variables
.env

# VS Code / IDE files
.vscode/
.idea/

# Mac/Windows system files
.DS_Store
Thumbs.db
